<h3>Customers</h3>
@defer {
<div class="row pt-3">
  <div class="col">

      @if (!customers) {
        ... Loading
      }
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">firstname</th>
          <th scope="col">lastname</th>
        </tr>
        </thead>
        <tbody>
          @for (customer of customers; track customer) {
            <tr>
              <td><a [routerLink]="['/customers', customer.id]">link</a></td>
              <td scope="row">{{ customer.firstname }}</td>
              <td scope="row">{{ customer.lastname }}</td>
            </tr>
          }
        </tbody>
      </table>

  </div>
</div>
} @placeholder {
  ... Loading
}
