<div class="row pt-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Kunde
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            Name:
          </div>
          <div class="col">
            {{ customer.firstname + ' ' + customer.lastname }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Email:
          </div>
          <div class="col">
            {{ customer.email }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Telephon:
          </div>
          <div class="col">
            {{ customer.phoneNumber }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Geschlecht:
          </div>
          <div class="col">
            {{ customer.gender }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Geburtstag:
          </div>
          <div class="col">
            {{ customer.dateOfBirth }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Straße:
          </div>
          <div class="col">
            {{ customer.street }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Stadt:
          </div>
          <div class="col">
            {{ customer.zipCode + ' ' + customer.city }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Land:
          </div>
          <div class="col">
            {{ customer.country }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
