@if (task === undefined) {
  ... Loading
} @else {

  <h3>{{ task.title }}</h3>

  <div class="row pt-5">
    <div class="col-md-9">
      <div class="row">

        @for (info of additionalInfo | keyvalue; track info) {
          <div class="col-xxl-6">
            <div class="card">
              <div class="card-header">
                {{ info.key }}
              </div>
              <div class="card-body">
                @for (data of info.value | keyvalue; track data) {
                  <div class="row">
                    <div class="col">
                      {{ data.key }}:
                    </div>
                    <div class="col">
                      {{ data.value }}
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        }

      </div>

      <div class="row pt-5">
        <div class="col-md-8">
          <app-task-form [data]="data"
                         [config]="configData"
                         (formValue)="deliverFormValue=$event"/>
        </div>
      </div>
    </div>



    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              {{ task.description }}
            </div>
          </div>
          <div class="row pt-3">
            <div class="col">
              <span class="text-secondary"><b>Assignee:</b></span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a [routerLink]="['#']">{{ task.assignee }}</a> <br>
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-sm btn-close-white" id="dropdownBasic1" ngbDropdownToggle>
                  <small>+ Add Assignee</small>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  @for (user of users; track user) {
                    <button ngbDropdownItem
                            class="dropdown-style"
                            (click)="addAssignee(user)">
                      {{ user }}
                    </button>
                  }
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <span class="text-secondary"><b>Created At:</b></span> <br>
              <small>{{ task.createdAt | date }}</small>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col">
              <span class="text-secondary"><b>Task Definition</b></span> <br>
              <small>{{ task.taskDefinition }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  <p>
    {{configData | json}}
  </p>
  <p>
    {{additionalInfo | json}}
  </p>
  <p>
    {{data | json}}
  </p>-->

  <div class="row pt-3">
    <div class="col-md-4">
      <button class="btn btn-sm btn-outline-info" (click)="complete()" [disabled]="deliverFormValue === undefined">Complete Task</button>
    </div>
  </div>
}
