@defer {
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h3>{{ customer.firstname + ' ' + customer.lastname }}</h3>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col">
          Geburtstag:
        </div>
        <div class="col">
          {{ customer.dateOfBirth }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Gender:
        </div>
        <div class="col">
          {{ customer.gender }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Telephon:
        </div>
        <div class="col">
          {{ customer.phoneNumber }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Straße:
        </div>
        <div class="col">
          {{ customer.street }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Stadt:
        </div>
        <div class="col">
          {{ customer.zipCode + ' ' + customer.city }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          Land:
        </div>
        <div class="col">
          {{ customer.country }}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        New Insurance? <br>
        <div class="form-check">
          <input id="new_insurance"
                 type="checkbox"
                 [(ngModel)]="isChecked"
                 class="form-check-input">
          <label class="form-check-label" for="new_insurance">
            <b>{{ isChecked ? 'yes' : 'no' }}</b>
          </label>
        </div>
      </div>
      @if (isChecked) {
        <div class="row pt-5">
          <div class="col">
            Insurance Type
            <select class="form-select" aria-label="Default select example" [(ngModel)]="type"
                    (change)="new_insurance()">
              <option value="LIABILITY_INSURANCE">Liability</option>
              <option value="HOUSEHOLD_INSURANCE">Household</option>
            </select>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <button class="btn btn-sm btn-outline-dark"
                    (click)="request_insurance()"
                    [disabled]="type === undefined">
              Request Insurance
            </button>
          </div>
        </div>
      }
    </div>
  </div>
} @placeholder {
  ... Loading
}
