<div class="row pt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Kunde
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            Name:
          </div>
          <div class="col">
            {{ additionalInfo.customer }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Email:
          </div>
          <div class="col">
            {{ additionalInfo.customerEmail }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Telephon:
          </div>
          <div class="col">
            {{ additionalInfo.customerPhoneNumber }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Geschlecht:
          </div>
          <div class="col">
            {{ additionalInfo.customerGender }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Geburtstag:
          </div>
          <div class="col">
            {{ additionalInfo.customerDateOfBirth }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
