<nav class="navbar fixed-top nav-custom-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/logo.png" alt="phactum" width="30" height="40">
      vanilla bp angular business cockpit
    </a>
    <div class="navbar-nav navbar-nav-icons">
      <div class="nav-item">
        <fa-icon [icon]="faGear"></fa-icon>
        &nbsp;
        <fa-icon [icon]="faBracket"></fa-icon>
        &nbsp;
        <img class="rounded-circle" ngSrc="./assets/images/avatar.png" width="30" height="30">
        &nbsp;
        <fa-icon [icon]="faLaptop"></fa-icon>
        &nbsp;
        <fa-icon [icon]="faBars"></fa-icon>
      </div>
    </div>
  </div>
</nav>
